### Q1
List the basic data types in python and give one example each.

1. Strings - 'Ama'
2. int - 2
3. float- 2.0
4. boolean - True
5. list - [1, 2, 3]
6. tuple - (1,2,3)

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [6]:
# the x variable
x = 4539.85

#checking the data type of x
type(x)

#changing the type of x
y = str(x)

# checking the datatype of y
type(y)

str

### Q3

What data type would you use to store

a. The price of car? 

Ans: float

b. The age of a person

Ans: int

c. car plate number: plateNumber = "AV01-AFP"?

Ans: string

d. The price of fuel

Ans: float

e. The number of students in the class

Ans: int

f. The weight of a person

Ans:float

g. Check whether two figures are equal

Ans: boolean

i. The name of a  school

Ans: string

j. The average result of the overall score of a student

Ans: float

k. The total number of vote cast

Ans : int

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [7]:
# create a variable called sentence
sentence = 'Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team'

#split the variable using the split function
new_s = sentence.split('.')
new_s

['Thomas Partey is arguably the best player in the Black Stars',
 ' He is a great addition to the team']

In [9]:
# 1. What is the length of statment 1
# finding the length of statement 2
statement_1 = len(new_s[0])
statement_1

60

In [10]:
# 2. What is the length of statment 2
# find the length of the statement 2
statement_2 = len(new_s[1])
statement_2

35

In [11]:
# 3. Is the length of statement 1 greater than statement 2
Boo = statement_1 > statement_2
Boo

True

### Q5
What values does python use to represent **True** and **False** respectively?

Ans:

True - 1

False - 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [58]:
# evaluating the various statements
# 1.
78 > 46 and 78< 30%2==1

False

In [53]:
# testing if 8 is an even number
8%2 == 0

True

In [54]:
# testing if 8 is an odd number
8%2==1

False

In [56]:
(len('bootstrap') == 7) and (len('sample')==6)

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [17]:
# spliting the texts
word='Hello, How are you?'

# returning how
words = word.split(',')

words

['Hello', ' How are you?']

In [38]:
r = words[1]
r

' How are you?'

In [23]:
# printing How
r[1:4]

'How'

In [26]:
# printing how are you
r[1:-1]

'How are you'

In [29]:
# printing the are
r[5:8]

'are'

In [30]:
r[-1]

'?'

In [31]:
# print how are you
print(word)

Hello, How are you?

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [32]:
# sentence
sentence = "I am very excited"
sentence

'I am very excited'

In [33]:
# capital letters
sentence.upper()

'I AM VERY EXCITED'

In [34]:
# lower case
sentence.lower()

'i am very excited'

In [35]:
# title case
sentence.title()

'I Am Very Excited'

In [36]:
sentence.split(' ')

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [40]:
# printing one
word = 'OneThirtyEight'
word[0:3]

'One'

In [42]:
# printing thirty
word[3:9]

'Thirty'

In [45]:
# printing eight
word[9:]

'Eight'

In [46]:
# printing one thirty
word[0:9]

'OneThirty'

In [47]:
# printing thirtyeight
word[3:]

'ThirtyEight'

In [48]:
# typing the capital letters
word.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [49]:
name = str("Ault'Kelly")
name

"Ault'Kelly"